//color scheme
//first color
$white:#fff;
$isabelline:#eeeded;
$spanishGray:#989797;
//second color
$coral:#FA824C;
$buff:#f1dd7b;
$vanilla:#f5e7a1;
//third color
$flame:#e4572e;
$lightRedOchre:#e87554;
$pastelPink:#f2b2a0;
//quarter color
$shinyShamrock:#4ca866;
$turquoiseGreen:#9dcfab;
$pastelGray:#bddfc7;
//fifth color
$blueDeFrance:#3c91e6;
$blueJeans:#5fa5ea;
$jordyBlue:#82b9ef;
//sixth color
$black:#000000;
$outerSpace:#454545;
$quickSilver:#a2a2a2;